In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf    # yahoo finance
import talib as ta

ydata = yf.download('000001.SS', start='1990-12-05')

close = ydata['Adj Close']
high = ydata['High']
low = ydata['Low']
ydata["RSI"] = ta.RSI(close, timeperiod=14)
ydata["MACD"], _, _ = ta.MACD(close, fastperiod=12, slowperiod=26, signalperiod=9)
ydata["CCI"] = ta.CCI(high, low, close, timeperiod=14)
ydata["ADX"] = ta.ADX(high, low, close, timeperiod=14)

ydata.to_csv("SS00001.csv")

In [13]:
import pandas as pd

df = pd.read_csv(r"C:\Users\user\Documents\GitHub\Gym-Trading-Env\examples\data\pistar\SS00001.csv", parse_dates=["date"], index_col= "date")

In [14]:
print(df.shape)
df.head()

(6464, 10)

,open,high,low,close,adj_close,volume,RSI,MACD,CCI,ADX
date,,,,,,,,,,
1997-07-02,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0,NaN,NaN,NaN,NaN
1997-07-03,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0,NaN,NaN,NaN,NaN
1997-07-04,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0,NaN,NaN,NaN,NaN
1997-07-07,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0,NaN,NaN,NaN,NaN
1997-07-08,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0,NaN,NaN,NaN,NaN

In [9]:
df[df.columns.drop(['open','high', 'low', 'close'])].columns = "feature_" + df.columns.drop(['open','high', 'low', 'close'])

In [12]:
df['date'].to_datetime()

AttributeError: 'Series' object has no attribute 'to_datetime'